<div class="container-fluid">
  <div class="row header">
    <!-- voltage -->
    <div class="col-xs-12  col-md-4 ">
      <div>
        <p class="lst-updt"><b>Last updated: {{last_updated}}</b></p>
      </div>

    </div>
    <div class="col-xs-12  col-md-4 ">
      <h1 class="brand">
        <b>WELCOME</b>
      </h1>
    </div>

    <!-- date time -->
    <div class="col-xs-12 col-md-4 date-time ">
      <b>{{date_time?.currentDate}}&nbsp;&nbsp;{{date_time?.currentTime}}</b>
    </div>


  </div>
</div>