<!-- <header>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded justify-content-center">
        <h1 class="brand" style="font-size:3em;color:rgb(243, 243, 243)">
            <b>Welcome</b>
        </h1>
    </nav>
</header> -->
<app-header></app-header>
<app-home></app-home>
<br/>
<br/>
<br/>
<br/>
<nav class="navbar navbar-toggleable-md fixed-bottom navbar-dark bg-faded justify-content-center">
    <h5 style="padding:0;margin:0px">
        <i class="fa fa-bolt" style="color:rgb(26, 136, 199)"></i>&nbsp;Powered by
        <span style="color:rgb(26, 136, 199)">|</span>
        <img src="assets\e&e.png" width="70">
        <b>Engineering & Environmental Solutions</b>
    </h5>
</nav>